.movieListPageContainer {
    background-color: #232323;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.movieListPageContainerBlured {
    filter: blur(2px);
}

.genreAndSortControls {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 60px;
    row-gap: 30px;
}

.moviesFound {
    flex-basis: 60%;
}

.moviesFoundCount {
    font-weight: bold;
}
