.GenreSelect {
    display: flex;
    column-gap: 20px;
}

.GenreSelectItem {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 5px;
}

.selected {
    border-bottom: 4px solid #F65261;
}
